body {
    background-color: black;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.circle, .level-circle {
    font-family: 'Courier New', Courier, monospace;
}

.circle p, .level-circle p {
    position: absolute;
    margin: 0 auto;
    top: 10%;
}

.level-circle:hover {
    border: 3px solid green !important;
    cursor: pointer;
}